<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- <add key="DigestAlgorithm" value="SHA1"/> -->
        <!-- <add key="MaximumInputLength" value="67108864"/> -->
        <!-- <add key="MonitorClipboard" value="False"/> -->
        <!-- <add key="ReverseNameOrder" value="False"/> -->
        <!-- <add key="Topmost" value="False"/> -->
        <!-- <add key="EnableUpdateCheck" value="False"/> -->
    </appSettings>
</configuration>
